{% extends 'base.html.twig' %}

{% block title %}Edit Dir {% endblock %}
{% block h1 %}Edit Dir {% endblock %}

{% block body %}
    {% include 'file/_form.html.twig' with { form: form } %}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>

                {% for item in items %}
                <tr>
                    <td style="padding-left: {{ (item.depath * 10) }}px"> {{ item.name }}</td>
                    <td> {{ item.type }}</td>

                    <td class="text-end">
                        {% if item.type == 'dir' %}
                            <a class="btn btn-primary" href="#">+</a>
                        {% endif %}
                            <a class="btn btn-danger" href="#">-</a>
                    </td>
                </tr>
                {% endfor %}

        </tbody>
    </table>

{% endblock %}
