{% extends 'base.html.twig' %}

{% block title %}Project {% endblock %}
{% block h1 %}Project {% endblock %}
{% block header_admin_buttons %}

{% endblock %}
{% block body %}

    <h3>Get {{ project.name }}</h3>
    <a class="btn btn-primary btn-lg" href="{{ path('app_project_download', {projectUuid: project.uuid, get: 1}) }}">Download</a>


{% endblock %}
